* {
  box-sizing: border-box;
  overflow: auto;
  font-weight: lighter;
}

/* Commun ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(183, 0, 0, 1);
  border-left: 10px solid rgba(2, 52, 116, 1);
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background-color: rgba(183, 0, 0, 1);
  height: calc(100%);
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vw;
  background-color: white;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  margin-top: linear-gradient(
    to right,
    rgba(2, 52, 116, 1) 40%,
    white 30%,
    white 60%,
    rgba(183, 0, 0, 1) 60%
  );
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.header-logo img {
  width: 20vw;
  height: auto;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(2, 52, 116, 1) 30%,
    transparent 30%,
    transparent 70%,
    rgba(183, 0, 0, 1) 70%
  );
}

.header-image img,
.menu-icon {
  width: 25%;
  height: auto;
}

.custom-link-rouge {
  font-family: caprasimo;
  color: rgba(183, 0, 0, 1);
  font-size: large;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-link-blanc {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5vw;
}

p,
.custom-link-bleu {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: large;
  text-decoration: none;
  margin-top: 10vw;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-top: 0;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(2, 52, 116, 1) 30%,
    transparent 30%,
    transparent 70%,
    rgba(183, 0, 0, 1) 70%
  );
}

p {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: large;
}

.footer-icons {
  display: flex;
  gap: 50px;
  margin-bottom: 5vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
}

.footer-icons img {
  width: 50px;
  height: 50px;
}

.img-top-footer {
  justify-content: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  margin-bottom: -2vw;
  margin-left: 15%;
}

h2 {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: x-large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  margin-top: 3vw;
}

h3 {
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: medium;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  margin-top: 5vw;
}

#prochain-match {
  font-family: caprasimo, sans-serif;
  color: #fff;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prochain-match img {
  width: 20vw;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  margin-inline: 5vw;
}

#prochain-match .league-logo {
  width: 20vw;
  height: auto;
  margin: -5vw;
}

#prochain-match .match-header {
  -moz-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
  font-size: 1.5rem;
  font-weight: 1;
  margin-bottom: 15px;
}

#calendrier-link {
  font-family: caprasimo;
  color: rgba(2, 52, 116, 1);
  font-size: 1rem;
  text-decoration: none;
  margin-top: 10vw;
}

.img-arrondie {
  border-radius: 9999px;
  margin-left: 5vw;
  margin-right: 5vw;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bd1616;
  color: bd1616;
  display: none;
  z-index: 100;
  overflow-y: auto;
}

#menu.visible {
  display: block;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-header .menu-logo {
  height: 25vw;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-button {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: caprasimo;
  color: rgb(255, 255, 255);
  font-size: large !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content ul li {
  margin: 1rem 0;
}

.menu-content ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.menu-footer img {
  height: 30px;
}

.hidden-content #main-content {
  display: none;
}

.hidden-content footer {
  display: block;
}

.hidden-content header {
  display: block;
}

.hidden {
  display: none !important;
}

/* fin Commun ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Mobile ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 740px) {
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-color: white;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  }

  .header-logo img {
    width: 30%;
    margin-left: 36%;
    height: auto;
    margin-bottom: 5%;
  }

  .footer-icons img {
    width: 50px;
    height: 50px;
  }
}
