<header class="header"><div class="menu-button"></div></header>

<div class="menu-content">
  <nav
    class="w-full h-screen fixed top-0 left-0 red-600 bg-opacity-95 z-50 flex items-center justify-center"
  >
    <ul class="space-y-6 text-center">
      <li>
        <a
          href="login.html"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Me connecter</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Réservation</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Actualité</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Boutique</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Multimédia</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Histoire du club</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Qui sommes-nous ?</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Information</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Forum</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white hover:text-red-600 text-xl transition-colors duration-300"
          >Nous contacter</a
        >
      </li>
    </ul>
  </nav>
</div>
<div class="footer-menu"></div>
